.order-card {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    animation: fadeIn 0.5s ease-in-out; /* Add animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .order-button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition */
  }
  
  .stylish-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Display as inline block */
    font-size: 19px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    margin-top: 15px;
  }
  
  .stylish-button:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Add larger shadow on hover */
  }
    